<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Us</title>
    <link rel="stylesheet" href="../static/styles/donate.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
          <div class="logo">
            <a href="index.html" class="imglink"
              ><img
                src="../static/images/logo.jpg"
                alt="EcoTech Reclaim"
                height="65px"
                width="auto"
            /></a>
          </div>
          <div class="items">
            <ul>
              <!-- ADDED HOME -->
              <li><a href="index.html">Home</a></li>
              <!-- HOME ENDED -->
              <li><a href="aboutus.html">About Us</a></li>
              <div class="dropdown">
                <button class="link dropbtn">Services</button>
                <div class="dropdown-content">
                  <a href="buy.html">Buy</a>
                  <a href="sell.html">Sell</a>
                  <a href="map.html">Facility Locator</a>
                  <a href="donate.html">Donate</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="learningoc.html"><button class="link dropbtn">
                  Learning Outcome</a>
                </button>
                <div class="dropdown-content">
                  <a href="learningoc.html#about-us-1">Education</a>
                  <a href="learningoc.html#loc-2">Classification of E-Waste</a>
                  <a href="learningoc.html#loc-3">Statistics</a>
                  <a href="learningoc.html#loc-6">Blogs</a>
                </div>
              </div>
              <li><a href="contactUs.html">Contact Us</a></li>
              <div class="btn">
                <button class="join-btn">
                  <li><a href="login.html">Join Our Community</a></li>
                </button>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="d1">
        <div class="d1-left">
            <img src="../static/images/charity.PNG" alt="" width="550px">
        </div>
        <div class="d1-right">
            
        </div>
      </div>
      <div class="d2">
        <div class="d2-img">
            <img src="../static/images/d2.PNG" alt="" height="120px">
        </div>
        <p>In 2020, COVID-19 paralyzed conventional ways of doing business, downsized the economy and most importantly turned upside down the educational practices.</p>

        <p>In India alone, 320 million students have been affected as schools are closed, though the government swiftly recommended for “online teaching”.</p>

        <p>This put millions of children’s future into dark, as they don’t have access to these tools. Thus, to address the digital divide and promote inclusion, we initiated a program- eCharity.</p>

        <p> Smartphone, laptop, tablet, desktop, printer, projector, camera or whatever e-device that is unused at home can be donated</p>
        
      </div>

      <div class="text-wrapper">
            <h2>NONE OF THE DEVICES DONATED WILL BE SOLD. The donated devices will be used to provide digital access to the children of marginalized areas and will be given to them AT NO COST.</h2>
            <h2>NONE OF THE DEVICES DONATED WILL BE SOLD. The donated devices will be used to provide digital access to the children of marginalized areas and will be given to them AT NO COST.</h2>
            <h2>NONE OF THE DEVICES DONATED WILL BE SOLD. The donated devices will be used to provide digital access to the children of marginalized areas and will be given to them AT NO COST.</h2>
            <h2>NONE OF THE DEVICES DONATED WILL BE SOLD. The donated devices will be used to provide digital access to the children of marginalized areas and will be given to them AT NO COST.</h2>
          </div>


    <div class="h3">
        <div class="main">
            <div class="container a-container" id="a-container">
              <form class="form" id="a-form" method="post">
                <div class="f1">
                    <div class="username">
                        <label>Your Name*</label>
                        <input class="form__input" type="text" placeholder="Name" name ="username">
                    </div>
                    
                    <div class="username">
                        <label>Contact Number*</label>
                        <input class="form__input" type="text" placeholder="Contact Number" name ="contact-no">
                    </div>
                </div>
                <div class="xdd">
                    <label>Email*</label>
                    <input class="form__input" type="email" placeholder="Email" email ="email">
                </div>
                <div class="xdd">
                    <label>City*</label>
                    <input class="form__input" type="text" placeholder="Your City" name ="city">
                </div>
                <h3>What do you wish to donate?*</h3>
                <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input class="form__input-02" type="checkbox" name="Smartphones"> Smartphones
                    </label>
                    <label class="checkbox-label">
                        <input class="form__input-02" type="checkbox" name="Laptops"> Laptops/Tablets
                    </label>
                    <label class="checkbox-label">
                        <input class="form__input-02" type="checkbox" name="Tablets"> Desktop/CPU/Monitors
                    </label>
                   
                    
                </div>
                <label class="checkbox-label-02">
                    <input class="form__input-02" type="checkbox" name="Tablets"> Others(Printers/Lasers and Cameras/Lens)
                </label>
                <h4>Is the item fully working?*</h4>
                <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input class="form__input-02" type="checkbox" name="Smartphones"> YES
                    </label>
                    <label class="checkbox-label">
                        <input class="form__input-02" type="checkbox" name="Laptops"> NO
                    </label>
                </div>
                <div class="username items-2">
                    <label><b>How Many Items You want To donate*</b></label>
                    <input class="form__input" type="text" placeholder="" name ="item-no">
                </div>
                
              </form>
            </div>
            <div class="container b-container" id="b-container">
              <h1>THANKS FOR DONATING! 
                
              </h1>
            </div>
            <div class="switch" id="switch-cnt">
              <div class="switch__circle"></div>
              <div class="switch__circle switch__circle--t"></div>
              <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">Donation form!</h2>
                <button class="switch__button button switch-btn">DONATE</button>
              </div>
              <div class="switch__container is-hidden" id="switch-c2">
                
                <button class="switch__button button switch-btn">GO TO DONATION </button>
              </div>
            </div>
          </div>
    </div>
      
    <script src="../static/scripts/donate.js"></script>
</body>
</html>