<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="../static/styles/map.css">
</head>
<body>
    <div class="blue-header">
        <div class="explore">Explore new places</div>
        <div class="search">
            <div class="search-icon"></div>
            <div class="search-input">
                <label>
                    <input type="text">
                </label>
            </div>
        </div>
    </div>

    <div class="map-lower">

        <div class="map-left">

            <div class="map-left-text">E-waste & Recycling Facility around you</div>


            <div class="cells">
                <div class="cell">
                    <div class="pin"></div>
                    <div>Janakpuri</div>
                </div>
                <div class="cell"><div class="pin"></div><div>Rohini</div></div>
                <div class="cell"><div class="pin"></div><div>Mayur Vihar</div></div>
                <div class="cell"><div class="pin"></div><div>Agra</div></div>
            </div>
        </div>


        <div class="map-right"></div>
    </div>


</body>
</html>